@tailwind base;
@tailwind components;
@tailwind utilities;

/* Egna overrides */
body {
  @apply bg-black text-white;
  font-family: 'Segoe UI', sans-serif;
}

input[type="range"] {
  @apply cursor-pointer;
}

/* Platter snurr */
@keyframes spin-up {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-out {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg);
    opacity: 0.3;
  }
}